<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>번역 페이지 V1</title>
    <script th:src="@{../jquery-3.6.0.min.js}"></script>
</head>
<body>
<div>단일 텍스트 버전</div><br/>
<select name="translate-type">
    <option value="papago">파파고</option>
    <option value="google" disabled>구글</option>
</select>
<input type="file" id="file-selector"><br/>
<div id="output"></div><br/>
<!--<button type="button" onClick="makeTextFile()">텍스트다운-번역스크립트</button>-->
</body>

<script>
    const fileSelector = document.getElementById('file-selector');
    var filename;

    fileSelector.addEventListener('change', (e) => {
        const files = e.target.files;
        filename = files[0].name;
        var filePromise = files[0].text();
        filePromise.then(
            function(val) {
                papagoDoing(val);
            }
        );
    })

    function papagoDoing(script) {
        var data = {
            "filename" : filename,
            "text" : script
        }
        $.ajax({
            type : "POST",
            url : "/translate/papago/v1",
            data : JSON.stringify(data),
            contentType: 'application/json',
            success : function(response){
                // alert(response);
            },
            error : function (e) {
                // alert(e.error + "실패");
            }
        })
    }

</script>
</html>
