<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 이동</title>
    <script th:src="@{../jquery-3.6.0.min.js}"></script>
</head>
<body>
<div id="content">

</div>
</body>
<script>

    $(document).ready(function (){
        var text = "";
        var p = "(c).*?(ks)";

        debugger;
        var address = text.matchAll(p);

        address= Array.from(address);

        var jsonAddress = JSON.stringify(address);

        $.ajax({
            type: "POST",
            data: jsonAddress,
            url: "/customize/curl",
            contentType : "application/json",
            success: function (response) {
                console.log(response);
            },
        });
    })



</script>
</html>