<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 정의 사전</title>
    <script th:src="@{../jquery-3.6.0.min.js}"></script>
</head>
<body>
<div>사용자 사전 자바단 자동저장</div>
<select id="filePath">
    <option value="omocha">omocha</option>
    <option value="diaWWW">diaWWW</option>
    <option value="diaMirro">diaMirror</option>
    <option value="ararose">ararose</option>
</select>
    <input type="file" id="file-selector" multiple><br/>

</body>
<script>
    const fileSelector = document.getElementById('file-selector');
    var myDic;

    $(document).ready(function(){
        addEvent();
    })

    fileSelector.addEventListener('change', (e) => {
        const fileList = event.target.files;
        for (const file of fileList) {
            convertDic(file);
        }
    });

    function convertDic(file) {
        var textPromise = file.text();
        textPromise.then(
            function(val) {
                var filename = file.name;
                var text = val;
                var dicOption = $("#filePath option:selected").val();
                var keys = Object.keys(myDic[0][dicOption]);
                for (var i=0; i<keys.length; i++){
                    var key = keys[i];
                    text = text.replaceAll(key, myDic[0][dicOption][key]);
                }
                sendFile(filename, text);
            }
        )
    }

    var sendFile = function (filename, script) {
        var path = $("#filePath option:selected").val();
        var data = {
            "filename" : filename,
            "script" : script,
            "path" : path
        }

        $.ajax({
            type : "POST",
            url : "/customize/mydic/v1",
            data : JSON.stringify(data),
            contentType : "application/json",
            success: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        })
    }


    function addEvent() {
        callMyDic();
    }

    function callMyDic() {
        $.ajax({
            type: "GET",
            url: "/myDic.json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success : function (res) {
                myDic = res;
            },
            error : function (e) {
                console.log("사전 불러오기 실패");
            }
        })
    }

</script>
</html>