<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONVERT V4</title>
  <script th:src="@{../jquery-3.6.0.min.js}"></script>
</head>
<body>
  <div>대량 컨버팅</div>
  <div>로우 ks 앞단에서 정규식 처리 -> 뒷단 자바에서 자동저장</div>
  <select id="filePath"> <!-- 컨버팅 파일 폴더 지정 위함 -->
    <option value="omocha-alice">omocha-alice</option>
    <option value="diaWWW-alice">diaWWW-alice</option>
    <option value="diaMirror-alice">diaMirror-alice</option>
    <option value="ararose">ararose</option>
    <option value="peterpen">peterpen</option>
    <option value="School wars">School Wars</option>
    <option value="Romeo vs Juliet">Romeo vs Juliet</option>

  </select>
  <input type="file" id="file-selector" multiple><br/>
  <div id="output"></div><br/>
</body>
<script>
  var fileSelector = document.getElementById('file-selector');

  fileSelector.addEventListener('change', (e) => {
    var fileList = e.target.files;

    for (var file of fileList) {
      file.script = convertFile(file);
    }
  })

  var convertFile = function (file) {
    var textPromise = file.text();
    textPromise.then(
            async function(val) {
              var filename = file.name;
              var text = file.name + "\n\n" + val;
              var script = text.replace(/\[.*?]/g, ""); // [] 제외
              var path = $("#filePath option:selected").val();

              // 공백 및 탭 제거 처리
                script = script.replace(/\n$/gm, '');
                script = script.replace(/\n$/gm, '');
                script = script.replaceAll('\t', '');
                script = script.replaceAll('\r', '');
                script = script.replace(/\n \n$/gm, '\m');

              script = script.replace(/\n$/gm, '') + "\n\n";
              console.log(script);
              await sendFile(filename, script)
            })
  }

  var sendFile = function (filename, script) {
      var path = $("#filePath option:selected").val();
      var data = {
        "filename" : filename,
        "script" : script,
        "path" : path
      }

      $.ajax({
        type : "POST",
        url : "/convert/v4",
        data : JSON.stringify(data),
        contentType : "application/json",
        success: function (response) {
          console.log(response);
        },
        error: function (response) {
          console.log("error! " +response);
        }
      })
  }


</script>
</html>